<!-- operation_table.ejs -->
<!-- Table content -->
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
    <div class="d-flex justify-content-center align-items-center" style="min-height: 10vh;">
        <table class="table table-bordered">
            <thead>
                <tr>
                    
                    <th>Equipment</th>
                    <th>Op.#</th>
                    <th>Description</th>
                    <th>Other</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    
                    <td style="width: 15%;">
                        <!-- type of equipment -->
                        <div class="container p-0">
                            <div class="form-group">
                                <label for="equipmentType">Equipment Type</label>
                                <select class="form-control" id="equipmentType"
                                    onchange="saveSelectedItem(this); populateActivityType(this.value);"
                                    style="width: auto;">
                                    <option value="">--select--</option>
                                </select>
                            </div>
                        </div>
                        <!-- operation Type -->
                        <div class="form-group">
                            <label for="activityType">Type of Activity</label>
                            <select class="form-control" id="activityType"
                                onchange="purgeDataFromOperation(); saveSelectedItem(this); populateDescription();">
                                <option value="">--select--</option>
                            </select>
                        </div>
                    </td>
                    <% if(locals.lastOpNum) { %>
                        <td style="width: 5%; padding: 0; margin: 0;">
                            <input type="number" class="form-control" id="op" name="op" value="<%= lastOpNum %>">
                        </td>                        
                    <% } %>
                    <td>
                        <div id="description">
                        
                        </div>
                    </td>
                    
                    <td style="width: 10%;">
                        <!-- Button to parse dataFromOperation -->
                        <button class="btn btn-primary" onclick="parseDataToOperation()">Parse Data</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</main>