<div class="sidebar">
    <!-- You can add links, navigation, or any other content here -->
    <div class="d-flex flex-column flex-shrink-0 p-3 text-dark">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
            <span class="fs-4">Main Menu</span>
        </a>
        <hr>
        <ul class="nav nav-pills flex-column mb-auto">
            <li class="nav-item mb-3">
                <a href="/" class="nav-link active" aria-current="page">
                    <i class="bi bi-house me-2"></i>
                    Main Table
                </a>
            </li>
            <li class="nav-item mb-3">
                <a href="/get_eq" class="nav-link active" aria-current="page">
                    <i class="bi bi-house me-2"></i>
                    GET-DEL Eq/Ops
                </a>
            </li>
            <li class="nav-item mb-3">
                <a href="/post_eq" class="nav-link active" aria-current="page">
                    <i class="bi bi-house me-2"></i>
                    POST Eq/Ops
                </a>
            </li>
            <!-- <li class="nav-item mb-3">
                <a href="/get_del_params" class="nav-link active" aria-current="page">
                    <i class="bi bi-house me-2"></i>
                    GET-DEL params
                </a>
            </li> -->
        </ul>
        <hr>
        <div class="dropdown">
            <a href="#" class="d-flex align-items-center text-dark text-decoration-none dropdown-toggle"
                data-bs-toggle="dropdown" aria-expanded="false">
                <img src="img\default_user.svg" alt="" height="32" width="32" class="me-2">
                <strong>User</strong>
            </a>
            <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
                <li><a class="dropdown-item" href="#">New project...</a></li>
                <li><a class="dropdown-item" href="#">Settings</a></li>
                <li><a class="dropdown-item" href="#">Profile</a></li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="#">Sign out</a></li>
            </ul>
        </div>
        <hr>
        <% if(locals.dataBRs) {%>
        <ul class="list-unstyled mb-auto mt-3">
            <h4>Data from DB:</h4>
            <% dataBRs.forEach(entry => { %>
                <li class="mb-3">
                    <strong>Project Name:</strong> <%= entry[0] %><br>
                    <strong>TP:</strong> <%= entry[1] %><br>
                    <strong>Version:</strong> <%= entry[2] %><br>
                    <strong>Total Ops:</strong> <%= entry[3] %>
                </li>
            <% }); %>
        </ul>
        <% } %>
    </div>
</div>