

.circular-menu {
    margin: 0 auto;
    position: relative;
}

.circle {
    position: relative;
    width: 150px;
    height: 150px;
    opacity: 0;
    transform: scale(2);
    transition: all 0.2s ease-out;
}

.open.circle {
    position: relative;
    opacity: 1;
    transform: scale(1);
}

.circle a {
    text-decoration: none;
    color: white;
    display: block;
    position: absolute;
}

.circle a:hover {
    color: #a4a4a4;
}

.menu-button {
    position: absolute;
    top: 70px;
    left: 70px;
    text-decoration: none;
    text-align: center;
    color: #7e7e7e;
    border-radius: 20px;
    display: block;
    height: 25px;
    width: 25px;
    line-height: 15px;
    padding: 5px;
    background: #dde;
}

.menu-button:hover {
    background-color: #eef;
}
