:root {
  --text-muted-color: antiquewhite;
  --wrapper-background: #f5f5f5;
  --text-body-secondary-color: aliceblue;
  --border-color: #ddd;
  --hover-background: #f2f2f2;
}

.text-muted {
  color: var(--text-muted-color);
}

.wrapper {
  display: flex;
  flex-direction: row;
  min-height: 85vh;
}

.content {
  flex: 1;
}

.sidebar {
  width: 250px;
  background-color: var(--wrapper-background);
  padding: 20px;
}

.dropdown-submenu {
  position: relative;
}

.dropdown-submenu .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -1px;
}

.text-body-secondary {
  color: var(--text-body-secondary-color) !important;
}

.equipment-cell {
  padding: 8px;
  border-bottom: 1px solid var(--border-color);
  font-weight: bold;
}

.equipment-cell:hover {
  background-color: var(--hover-background);
}