.text-muted{
    color: antiquewhite;
}
.wrapper {
    display: flex;
    flex-direction: row; /* changed to row */
    min-height: 85vh;
}

.content {
    flex: 1;
}

.sidebar {
    width: 250px; /* Define width of sidebar */
    background-color: #f5f5f5; /* Example background color */
    padding: 20px;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -1px;
}
.text-body-secondary{
    color: aliceblue!important;
}
